{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "babel-plugin-polished",
    ["styled-components", {
      "ssr": true,
      "displayName": true,
      "preprocess": false
    }],
    ["module-resolver", {
      "alias": {
        "utils": "./utils",
        "components": "./components"
      }
    }]
  ]
}
